.navbar {
    width: 100%;
    background-color: #feffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    
  }
  .topbar{
    background-color: #000000;
    color: #feffff;
  }
  