.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 50px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.contact-info {
  max-width: 400px;
  text-align: left;
}

.contact-info h2 {
  font-size: 2rem;
  color: #333;
}

.contact-info p {
  font-size: 1rem;
  color: #555;
}

.contact-form {
  background-color: #fff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form label {
  font-weight: bold;
  color: #444;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #8bbaca;
  outline: none;
}

.contact-form textarea {
  height: 100px;
  resize: none;
}

.contact-form button {
  background-color: #8bbaca;
  color: #fff;
  padding: 12px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #000000;
}

.success-message {
  font-size: 1rem;
  color: green;
  margin-top: 10px;
}

.error-message {
  font-size: 1rem;
  color: red;
  margin-top: 10px;
}

/* Responsivo */
@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    padding: 20px;
    gap: 20px;
  }

  .contact-info {
    text-align: center;
  }

  .contact-form {
    width: 90%;
  }
}
.icon {
  transition: color 0.3s ease;
}

.instagram {
  color: #8bbaca;
}

.facebook {
  color: #8bbaca;
}

.whatsapp {
  color: #8bbaca;
}

.icon:hover {
  color: #000;
}