* {
  box-sizing: border-box;
}
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}
body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-style: normal;
}
p {
  text-align: justify;
}

ul{    
  text-align: justify;
}
li{
  text-align: justify;
}